.event {
  height: 100vh;
}

.event-background {
  background-image: url("../image/49ffd2682143855b5595.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 150px 50px 50px 50px;

  background: radial-gradient(circle, rgba(180,50,50,1) 10%, rgba(0,0,0,1) 90%);
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px 0px;
}

.event-item {
  width: 80%;
  min-height: 100px;
  background-color: azure;
  border: 4px solid black;
}

.event-item-title {
  margin: 20px;
  font-size: 40px;
}

.event-item-paragraph {
  margin: 20px;
  font-size: 20px;
}