.footer {
  background: radial-gradient( circle farthest-corner at 24.1% 68.8%,  rgba(50,50,50,1) 0%, rgba(0,0,0,1) 99.4% );
  padding: 10px 50px 10px 50px;
}

.contacts-menu-item {
  list-style-type: none;
  font-size: 24px;
}

.contacts-menu .telefon {
  list-style-image: url(../image/footer/телефон.png);
}

.contacts-menu .mail {
  list-style-image: url(../image/footer/почта.png);
}

.contacts-menu .map-footer {
  list-style-image: url(../image/footer/карта.png);
}

.contacts-menu-item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}