.header {
  height: 100vh;
}

.header-background {
  background-image: url("../image/2143091ac7955e5785542116c342c11d.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

.header-background h1 {
  margin: 0px;
  font-size: 180px;
  font-weight: 900;
  text-shadow: rgb(255, 0, 0) 1px 0 15px;
}

.header-background p {
  margin: 0px 40px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: rgb(255, 0, 0) 1px 0 15px;
}

.container .dropdown {
  width: 100%;
  max-width: inherit;
  position: fixed;
  z-index: 100000;
}

.dropdown-menu {
  height: 150px;
  background: linear-gradient(#fff, #ffffff00 );
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.dropdown-item {
  width: 100px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-menu:hover .dropdown-item, .dropdown-item:hover{
  color: rgba(0, 0, 0, 1);
}

