.main {
  height: 100vh; 
}

.main-background {
  background-image: url("../image/49ffd2682143855b5595.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 150px 50px 50px 50px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; 
  list-style-type: none;
}

.menu-item {
  width: 200px;
  height: 200px;
}

.content-item {
  display: none;
}

.image-wok {
  background-image: url("../image/wok/wok\ 1.png");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .menu-item:hover {
  animation-name: scale;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  0% {
    width: 200px;
    height: 200px;
  }

  100% {
    width: 400px;
    height: 400px;
  }  
} */

.menu-item:hover {
  transform: scale(2);
  transition-duration: 2s;
}

.menu-item:hover .content-item{
  display: block;
  transition-duration: 2s;
}