/* .main {
  min-height: 100vh;   
} */

.main-background {
  background-image: url("../image/49ffd2682143855b5595.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 150px 30px 30px 30px;  

  background: radial-gradient(circle, rgba(180,50,50,1) 10%, rgba(0,0,0,1) 90%);;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 10px; 
  padding: 30px 0px;
  margin: 0px;
  list-style-type: none;
}

.menu-item {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;  
  text-align: end;  
}

.menu-item-title {  
  margin: 0px;
  font-size: 24px;
  font-weight: 700; 
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 0, 0) 1px 0 15px;
}

.menu-item-button {  
  width: 120px;
  border-radius: 0px 0px 70px 0px;
  text-align: left;
}

.content-size {
  width: 100%;
  padding: 0px 0px 0px 30px;
}

.block {  
  height: 700px; 
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.content-item {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 50px 50px;
  grid-template-columns: 1fr 80px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 0, 0) 1px 0 15px;
}

.content-item-title {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 20px 40px;
  font-size: 60px;  
}

.content-iten-paragraph {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: end;
  margin: 0px 20px;
  font-size: 30px;
}

.content-calory {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: end;
  margin: 0px 20px;
  font-size: 20px;
}

.content-item-button {
  grid-row-start: 5;
  align-self: center;
  margin: 10px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 80%;
  border-top-width: 3px;
  border-left-width: 100px;
  border-bottom-width: 3px;
  border-bottom-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.price {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 30px;
}

.zero { 
  background-image: url("../image/Lapsha.jpg");
  z-index: 3;
}

.one {
  background-image: url("../image/wok/Krevetka.jpg");
}

.two {
  background-image: url("../image/wok/okun.jpg");
}

.three {
  background-image: url("../image/wok/С морепродуктами.jpg");
}

.four {
  background-image: url("../image/wok/Со свининой.jpg");
}

.five {
  background-image: url("../image/wok/Удон.jpg");
}

.six {
  background-image: url("../image/wok/Острая.jpg");
}

.seven {
  background-image: url("../image/wok/Острая 2.jpg");
}

.eight {
  background-image: url("../image/wok/С овощами.jpg");
}

.image-wok {
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
