@import url(./css/main.css);
@import url(./css/header.css);
@import url(./css/event.css);
@import url(./css/delivery.css);

@font-face {      
  font-family: 'fon';
  src:url('./fonts/19192.otf');
}

* {
  box-sizing: border-box;
  font-family: fon;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 4, 4);
}

h2 {
  margin-top: 0px;
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 24px;
}

.footer {
  background-color: chartreuse;
}