@import url(./css/main.css);
@import url(./css/header.css);
@import url(./css/event.css);
@import url(./css/delivery.css);
@import url(./css/footer.css);
@import url(./css/main-grid.css);

@font-face {      
  font-family: 'fon';
  src:url('./fonts/19192.otf');
}

* {
  box-sizing: border-box;
  font-family: fon;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-top: 0px;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 0, 0) 1px 0 15px;
}

